# Dependencies
node_modules/
npm-debug.log*

# Environnement variables
.env
.env.local

# Système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Temporaire
*.tmp
*.temp
